.story2{
    margin-top: 70px;
    height: 35vh;
    text-align: center;
    background-color: rgb(219, 210, 210);
}
.story2 h3{
    font-size: 25px;
    padding-top: 60px;
}
.grid{
    text-align: center;
}
.grid p{
    text-align: center;
    font-size:16px;
    color: rgb(70, 67, 67);
}
.img21{
    height: 100%;
    margin-left: 60px;
}
.careers{
    height: 72vh;
    background-color: whitesmoke;
    padding-top: 40px;
}
.careers h3{
    margin-left: 60px;
    font-size: 26px;
}
#col6{
    margin-left: 60px;
}
#col6 h3{
    font-size: 30px;
}