
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 50%;
  }
  .footer-link2 a {
    text-decoration: none;
    color: darkslategray;
  }

.footer-link2 a:hover{
  color: darkslategray;
  text-decoration-line: underline;
}
  .fa:hover {
      opacity: 0.5;
  }
  
  .fa-facebook {
    background:#45044b;
    color: white;
  }
  
  .fa-twitter {
    background: #45044b;
    color: white;
  }
  .fa-linkedin {
    background: #45044b;
    color: white;
  }
.text-reset{
    text-decoration: none;
}
.social-links{
    margin-top: 0px;
}
footer{
    text-decoration: none;
    text-align: center;

}
.footer-link2{
  float:inline-end
}

.social-links p{
  color: #80138a;
}
