#logo1{
    height: 6vh;
    width: 12vw;
    margin-right: 250px;
    margin-left: 80px;
}
h4{
    font-size: small;
}
.button{
    background-color: #662c89;
    border: none;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 10px;
    font-weight: 500;
    transition: 350ms; 
}
.log-in{
    margin-left: 0px;
}
h6{
    font-size: medium;
    font-weight: 500;
    color: #46265a;
}
p{
    font-size: small;
}
.p1{
    font-weight: 600;
}
.resources{
    font-size: smaller;
}
.line-break{
    background-color: #9f3adf;
}
.vertical {
    border-left: 1px solid rgb(98, 28, 131);
    height: 40px;
    position:absolute;
    left: 75%;
}
.gg-lock {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 11px;
    border: 2px solid;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom: transparent;
    margin-top: -12px
}