
#navbarScrollingDropdown{
    margin-left: 20px;
    font-size: 15px;
    font-weight: 400;
}
h4{
    font-size: small;
}
.button{
    background-color: #5c2081;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 10px;
    font-weight: 500;
    transition: 350ms; 
    margin-left: 50px;
}
.log-in{
    font-weight: 500;
    margin-left: 60px;
    color: #5c2081;
}
h6{
    font-size: medium;
    font-weight: 500;
    color: #46265a;
}
p{
    font-size: small;
}
.p1{
    font-weight: 600;
}
.resources{
    font-size: smaller;
}
.line-break{
    background-color: #9f3adf;
}
.vertical {
    border-left: 1px solid rgb(82, 22, 110);
    height: 40px;
    position:absolute;}
.solutions{
    margin-left: 250px;
}
@media only screen and (max-width:800px) {
    * {
      width: auto;
      padding: 0;
    }
    * {
      width: auto;
    }
  }
  @media only screen and (max-width:500px) {
    *{
      width: auto;
    }
  }
  