
#navbarScrollingDropdown{
    font-size: 15px;
    font-weight: 400;
}
h4{
    font-size: small;
}

.button{
    background-color: #5c2081;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    justify-items: end;
    border-radius: 10px;
    font-weight: 10px;
    font-weight: 500;
    transition: 350ms; 
    /* margin-left: 50px; */
}
.log-in{
    font-weight: 500;
    margin-left: 0px;
    color: #5c2081;
    /* margin-left: 60px; */
}
h6{
    font-size: medium;
    font-weight: 500;
    color: #46265a;
}
p{
    font-size: small;
}
.p1{
    font-weight: 600;
}
.resources{
    font-size: smaller;
}

.solutions{
    margin-left: 0px;
    justify-content: end;
}
@media only screen and (max-width:800px) {
    * {
      width: auto;
    }
    * {
      width: auto;
    }
  }
  @media only screen and (max-width:600px) {
    *{
      width: auto;
    }
  }
  