.row{
    height: auto;
    background-color: rgba(255, 255, 255, 0.856);
}
*{
    font-family: sans-serif;
    box-sizing: border-box;

}
#logo1{
    height: 6vh;
    width: 12vw;
    margin-right: 250px;
    margin-left: 70px;  
}
#navbarScrollingDropdown{
    margin-right: 20px;
    font-size: 15px;
    font-weight: 400;
}
h4{
    font-size: small;
}
.button1{
    background-color: #662c89;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 10px;
    font-weight: 500;
    transition: 350ms; 
}
.button2{
    background-color: #aea5b3;
    border: none;
    color: rgb(252, 247, 251);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 10px;
    font-weight: 500;
    transition: 350ms;
    margin-left: 10px;
}
.log-in{
    margin-left: 110px;
}
h6{
    font-size: medium;
    font-weight: 500;
    color: #46265a;
}
p{
    font-size: small;
}
.p1{
    font-weight: 600;
}
.resources{
    font-size: smaller;
}
.line-break{
    background-color: #9f3adf;
}
.vertical {
    border-left: 1px solid rgb(98, 28, 131);
    height: 40px;
    position:absolute;
    left: 75%;
}
.gg-lock {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 11px;
    border: 2px solid;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom: transparent;
    margin-top: -12px
}
.header1{
    font-family: 'DM Sans',sans-serif;
    color: #8524c2;
    font-weight: 700;
    font-size: medium;
    margin-top: 110px;
    float: left;
    margin-left: 100px;
}
.col-3{
    margin-top: 130px;
    font-size: large;
    font-family: 'DM Sans',sans-serif;
    color: #2f2f2f;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    font-weight: bold;
}
.img-fluid{
    width: auto;
    height: auto;
    text-align: center;
    z-index: 111;
}
.jumbotron{
    margin-top: 150px;
}
.cols0{
    font-family: 'DM Sans',sans-serif;
    color: #2f2f2f;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.details1{
    font-weight: bold;
    color: #333131;
    font-family: sans-serif;
    text-align: justify;
    margin-left:100px;
}
.display-6{
    margin-left: 100px;
    margin-top: 210px;    
}
.buttons{
    margin-left: 100px;
}
.grid-item{
    width: 150px;
    height: 40px;
    display: -ms-inline-grid;
    margin-left:20px;
    display: inline-flex;
    text-align: center;
}
.grid-container{
    text-align: center;
    margin-top: 100px;
}
h5{
    font-size: small;
    font-weight: 700;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    margin-top: 110px;
  }
  .row:after {
    content: "";
    display: inline-flex;
    clear: both;
  }
  .column {
    width: 100%;
    padding: 50px;
  }
  .img2{
    width: 50%;
    height: auto;
    border: 0;
    max-width: 100%;
    margin-top: -370px;
    float: right;
}
 .med-link{
    text-decoration: none;
    color: #9e6dbd;
    font-weight: bold;
    font-size: 16px;

 } 
 ul{
    list-style: symbols();
 }
 .column1 {
    width: 100%;
    padding: 50px;
    margin-top: -100px;
  }
  .img7{
    width: 600px;
    height: 160px;
    vertical-align: middle;
    display: inline-block;
    margin-top: auto;

  }
  .column1{
    height: 60vh;
    background-color: whitesmoke;
    column-count: 2;
  }
  .column2{
    column-count: 2;
    margin-top: 80px;
    margin-left: 20px;
    padding: 50px;
    background-color: rgba(230, 222, 222, 0.87);
   
  }
  .img8{
    width: 90%;
    height: auto;
    border: 0;
    max-width: 100%;
  }
  span{
    color: #8524c2;
    font-size: 50px;
    font-weight: bolder;
    font-family: sans-serif;
  }
  .column3{
    height: 30vh;
    background-color: white;
    column-count: 3;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 600px;
    margin-top: 70px;
  }
  .slides{
    text-align: center;
    font-weight: 800;
    background-color: white;
    height: 70vh;
    padding: 50px;
  }
  .quotes{
    height: 50px;
    width: 50px;
    text-align: center;
  }
._copy{
    background-color: #2b0542;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    height: 60vh;
    font-weight: bolder;
    font-size:20px;
    padding: 50px;
}
._copy h3{
    font-size: 50px;
    font-weight: bold;
}
._copy .button2{
    padding-right: 40px;
    padding-left: 40px;
    border: 1px solid #fff;
    background-color: #2b0542;
    color: #fff;
}
.footer-p1{
    color: black;
    font-weight: bold;
}
#footer{
    background-color: white;
    height: 60vh;
}