.contact a{
    text-decoration: none;
    color: rgb(87, 30, 139);
}
.contact{
    margin-left: 60px;
}
.jumbotron1{
    background-color: whitesmoke;
    height: 15vh;
    margin-bottom: 50px;
}
.display-5{
    margin-left: 60px;
    margin-top: 90px;    
}
.display-7{
    margin-top: 50px;
}
.jumbotron h3{
    font-size: 30px;
    font-weight: bold;
}
.blank_page{
    height: 20vh;
    margin-top: 30px;
    background-color: rgb(44, 8, 78);
}
.story1{
    height: 45vh;
    background-color: whitesmoke;
}
.story1 h3{
    margin-left: 60px;
    padding-top: 40px;
}
.button3{
    background-color: #cabdd1;
    border: none;
    color: #662c89;;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 10px;
    font-weight: 500;
    transition: 350ms;
}
.button4{
    background-color: #662c89;
    border: none;
    color: white;
    padding: 7px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 10px;
    font-weight: 500;
    transition: 350ms;
    margin-left: 60px;
}
.col-sm-6 h3{
    margin-top: 60px;
}

#img1{
    max-height: 500px;
    height: 400px;
    width: 600px;
    margin-top: 80px;
}
.pricing h3{
    font-size: 25px;
    padding-top: 60px;
}
.pricing{
    margin-top: 70px;
    height: 35vh;
    text-align: center;
    background-color: whitesmoke;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #77169e;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #d6cdda;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #77169e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }